* {
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  font-family: 'Sansita Swashed', cursive;
}

body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 2500px;
  padding: 0;
  margin: 0;
}

.top__search-bar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
}

.top__search-bar-input-field {
  width: 230px;
  height: 40px;
  font-size: 16pt;
}

.top__header {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23pt;
}

.nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center
}

button {
background: white;
height: 50%;
width: 08%;
font-size: 28px;
border: none;
border-bottom: 5px solid black;
cursor: pointer;
}

.top__search-bar-button {
  background: white;
height: 50%;
width: 08%;
font-size: 28px;
border: none;

cursor: pointer;
}

.sidebar__right-filter-button{
  height: 1.8%;
  width: 1px;
  font-size: 16.5px;
  cursor: pointer;
  padding-left: 10px;
  border-bottom: none;
}

.clear-button {
  color: brown;
  padding-left: 5px;
}

.main__recipe-header-button-box{
  display: flex;
  justify-content: center;
  width: 60%;
}
.add-favorites-button, .remove-favorites-button, .add-recipe-to-cook-button {
  height: 4%;
  width: 29%;
  font-size: 20px;
  border-bottom: none;
}
.add-favorites-button:hover {
  color: blue
}

.remove-favorites-button:hover {
  color: red;
}

button:hover {
  color: orange;
}


.main {
  height: 100%;
  width: 100%;
  display: flex;
}

.sidebar__left, .sidebar__right {
  width: 7%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 1px solid black;
}

.sidebar__right-header {
  padding-left: 5px;
  /* text-align: center; */
}

.main__recipe-display-box {
  width: 86%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__recipe-header {
  padding-top:25px;
  height: 6%;
  width: 85%;
  text-align: center;
  font-size: 34pt;
}

.main__recipe-images-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 2500px;
}

.main__recipe-card {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 270px;
height: 320px;
margin-top: 30px;
text-align: center;
background-color: rgb(235,235,235);
border-radius: 20px;
};

.main__recipe-card:hover {
transform: scale(1.1);
transition: 800ms;
cursor: pointer;
border: 3px solid orange;
}

.main__recipe-card-image-box {
  display: inline;
  overflow: hidden;
  width: 270px;
  height: 75%;
  border-radius: 20px;
}

.main__recipe-card-image {
  width: 270px;
  height: 100%;
  border-radius: 20px;
}


.main__recipe-card-image:hover {
  transform:scale(1.2);
  transition: 800ms
}


.main__recipe-card-tags-box {
  display: flex;
  justify-content: space-between;
  background-color: rgb(235,235,235);
  font-size:  12px;
  color: black;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main__rendered-recipe-area {
  height: 6%;
  width: 85%;
}

.main__rendered-recipe-box {
  display: flex;

}

.main__rendered-recipe-image {
  display: flex;
  flex-direction: column;
  width:50%
}

.main__rendered-recipe-ingredients-header,
.main__rendered-recipe-instructions-header
 {
  font-size: 40px;
  margin-bottom: 10px
}

.main__rendered-recipe-ingredients,
.main__rendered-recipe-instructions {
  font-size: 20px;
  margin-bottom: 15px;
}

.main__rendered-recipe-instructions {
    width: 85%;
    margin-left: 8%;

}

.main__rendered-recipe-cost{
  font-size: 30px;
  color: green
}
.main__recipe-header-box {
  width: 45%
}

.user__pantry-display {
  width: 86%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__pantry-display-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 25px;
  height: 6%;
  width: 85%;
  text-align: center;
  font-size: 34pt;
}

.pantry-item {
  padding-left: 5px;
  padding-right: 5px
}

.hidden {
  display: none;
}
