* {
  border: 1px solid red;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(184, 161, 206);
  width: 100%;
  height: 5000px;
  padding: 0;
  margin: 0;
}

.top_search_bar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
}


.top__header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100%;
  height: 100px;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
}

.sidebar__left, .sidebar__right {
  width: 15%;
  height: 100%
}

.main__recipe-display-box {
  width: 70%;
  height: 100%;
}